name: srp

on:
  pull_request:
    paths:
      - ".github/workflows/srp.yml"
      - "srp/**"
      - "Cargo.*"
  push:
    branches:
      - master

defaults:
  run:
    working-directory: srp

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo test --release
